{% extends 'base.html' %}
{% load blog_tags %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" />
{% endblock %}

{% block content %}
  <!-- محتوای خبر -->
  <div class="container">
    <section class="news-detail">
      <h1>{{ post.title }}</h1>
      <div class="meta">منتشر شده در ۴ خرداد ۱۴۰۴ | ۱۲۳۴ بازدید</div>
      <div>
        <a href="{% url 'post:post_share' post.slug post.id %}">اشتراک گذاری</a>
      </div>
      <p>{{ post.content|markdown }}</p>
    </section>

    <section class="row">
      <h2>پست های مشابه</h2>
      {% for similar_post in similar_posts %}
        <p class="">
          <a href="{{ similar_post.get_absolute_url }}">{{ similar_post.title }}</a>
        </p>
      {% empty %}
        <p>پست مشابهی وجود ندارد</p>
      {% endfor %}
    </section>

    <!-- نظرات -->
    <section class="comments-section">
      <h2>نظرات کاربران</h2>

      {% if post.comments %}
        <div class="comments-count">{{ comments.count }} نظر ثبت شده است.</div>
        {% for comment in comments %}
          <div class="comment">
            <div class="author">نظر{{ forloop.counter }} توسط {{ comment.name }} در تاریخ {{ comment.created }}</div>
            <div class="text">{{ comment.body|linebreaks }}</div>
          </div>
        {% endfor %}
      {% else %}
        <p class="comments-count">هیچ نظری ثبت نشده است.</p>
      {% endif %}

      <hr />
      <h3>ثبت نظر جدید</h3>

      <!-- فرم ارسال نظر -->
      {% if comment_form.errors %}
        <div class="alert alert-danger">
          {% for field in comment_form %}
            {% if field.errors %}
              {{ field.label }}
              {% for err in field.errors %}
                <li>{{ err }}</li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <form class="comment-form" novalidate method="post" action="{% url 'post:post_comment' post.id %}">
        <div class="mb-3 row">{{ comment_form.name }}</div>
        <div class="mb-3 row">{{ comment_form.email }}</div>
        <div class="mb-3 row">{{ comment_form.body }}</div>
        <button type="submit" class="btn btn-primary">ارسال نظر</button>
        {% csrf_token %}
      </form>
    </section>
  </div>
{% endblock %}
